
/*BOTONES styles*/

.btn--add {
    background-color:  #459606;
    border-radius: 4px;
    padding: .4em .5em;
    border-color: transparent;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: rgb(110, 101, 101);
    margin: .7em;
    color: white;
        min-width: 120px;
}

.btn--success {
    background-color:#459606;
    border-radius: 4px;
    padding: .4em .5em;
    border-color: transparent;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: rgb(110, 101, 101);
    margin: .7em;
    color: white;
        min-width: 120px;
}


/*button de remover */

.btn--error {
    border-radius: 4px;
    padding: .4em .5em;
    border-color: transparent;
    background-color: rgba(212, 36, 58, 0.904);
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
    min-width: 120px;
}

.btn--transparent {
  border-radius: 4px;
    padding: .4em .5em;
    border-color: transparent;
    background-color: transparent;
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #eee;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
    min-width: 120px;
}



.btn--yes {
    border-radius: 4px;
    padding: .4em .5em;
    border-color: transparent;
    background-color: rgba(0%, 0%, 80%, 100%);
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
     min-width: 120px;
}
.btn--warning {
    border-radius: 4px;
    padding: .4em .5em;
    border-color: transparent;
    background-color: #c79006;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
     min-width: 120px;
}

.btn--await {
    border-radius: 4px;
    padding: .4em .5em;

    border: 1px solid #ccc;
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    background-color: transparent;
     min-width: 120px;
}


.btn--info {
    border-radius: 4px;
    text-align: center;

    background-color: white;
    border: 1px solid blue;
    color: darkblue;
    font-family: sans-serif;
    font-weight: 600;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
     min-width: 120px;
}



/* button colors */


/* btn pink */
  .btn--pink {

    border-radius: 4px;
      padding: .4em .5em;
      border-color: transparent;
      background-color:rgba(989, 80, 152, 0.980);
      font-size: 15px;
      font-family: arial;
      cursor: pointer;
      font-weight: 600;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      transition: .3s;
      color: #eee;
      margin: .7em;
        min-width: 120px;
  }




/* btn white */
  .btn--white {
    border-radius: 4px;
      padding: .4em .5em;
      border-color: transparent;
      background-color: #ddd;
      font-size: 15px;
      font-family: arial;
      cursor: pointer;
      font-weight: 600;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      transition: .3s;
      color: #555;
      margin: .7em;
      min-width: 120px;
  }

/* btn red */
  .btn--red {
    border-radius: 4px;
      padding: .4em .5em;
      border-color: transparent;
 background-color: rgba(212, 36, 58, 0.904);

      font-size: 15px;
      font-family: arial;
      cursor: pointer;
      font-weight: 600;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      transition: .3s;
      color: #eee;
      margin: .7em;
       min-width: 120px;
  }


/* btn blue */
.btn--blue {
  border-radius: 4px;

    padding: .4em .5em;
    border-color: transparent;
     background-color: rgb(90, 113, 219);
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
      min-width: 120px;
}


.btn--blue-dark {
  border-radius: 4px;

    padding: .4em .5em;
    border-color: transparent;
     background-color: rgba(33, 52, 139, 0.984);
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
      min-width: 120px;
}
.btn--magenta {
  border-radius: 4px;

    padding: .4em .5em;
    border-color: transparent;
     background-color: #ca2bd6;
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
      min-width: 120px;
}
.btn--purple {
  border-radius: 4px;

    padding: .4em .5em;
    border-color: transparent;
     background-color: #790182;
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
      min-width: 120px;
}



/* btn green */
.btn--green {
  border-radius: 4px;

    padding: .4em .5em;
    border-color: transparent;
    background-color: rgba(0%, 80%, 0%, 75%);
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
     min-width: 120px;
}

.btn--orange {
  border-radius: 4px;

    padding: .4em .5em;
    border-color: transparent;
     background-color: orangered;
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
     min-width: 120px;
}

/* btn black */
.btn--black {
    border-radius: 4px;
    padding: .4em .5em;
    border-color: transparent;
    background-color: #222;
    font-size: 15px;
    font-family: arial;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    color: #eee;
    margin: .7em;
     min-width: 120px;
}



/* end button colors */
